# invoke rewrite engine
RewriteEngine On
RewriteBase /

Options -Indexes
<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

# Redirect to www
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Prevent scraping from archive for free demo
RewriteCond %{HTTP_USER_AGENT} (ia_archiver) [NC]
RewriteRule . - [F,L]

# Specific redirections
RewriteRule ^index.html$ / [L,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^index\.htm$ index_htm.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Electrical_Equipment\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Electrical_Equipment_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Emerson_Solutions\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Emerson_Solutions_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Engineered_Solutions\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Engineered_Solutions_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Fieldbus\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Fieldbus_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Final_Controls\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Final_Controls_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Process_Instrumentation\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Process_Instrumentation_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Quarter_Turn\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Quarter_Turn_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Repair_Services\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Repair_Services_dat.html? [L,R=301]
RewriteCond %{QUERY_STRING} ^catagoryFile\=Scallon_Process_Controls\.dat$
RewriteRule ^cgi\-bin\/product_info\.cgi$ cgi-bin/product_info_catagoryFile_Scallon_Process_Controls_dat.html? [L,R=301]

# Redirect all extensions to html
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.shtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.phtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.jhtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.htm$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.php$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.aspx$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.asp$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.jsp$ $1.html [L,NC,R=301]
# End: Redirect all extensions to html
